
/* css for all data table */
@media (min-width: 1200px) {
 		                                #t1 {
   				                     
                                                    
                                                    
                                                     overflow-x: scroll;
  				                     } 

}
@media (min-width: 768px) and (max-width: 991px){
							#t1 {
   				                     
                                                    
                                                    
                                                     overflow-x: scroll;
  				                     } 
						}





#wrapper {position: relative;  margin: 0;}
                
             			 #meter {
                                     
                                            width:910px;
                                            height:400px;
  					
					}


                                
			  
                              
                                /*large device*/
 				@media (min-width: 1200px) {
 		                                #meter {
   				                     width:910px;
                                                     margin-left:70px;
                                                     height:350px;
                                                     margin-top:10px;
  				                     }


                                     #meter_needle {
                    					height: 13%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 21%;
                    					top: 27%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 13%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 19%;
                    					top: 68%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }
								 
								 } 
                                /* iphone 6,7,8*/  
                                @media  (max-width: 768px){

                                       #meter {
   				                 width:380px;
                                                 margin-top:40px;
                                                 height:300px;
                                                 
  				              }
					#meter_needle {
                    					height: 7%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 82%;
                    					top: 23%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 7%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 81%;
                    					top: 42%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }






                                           }
                                  


                                  /*code for iphone 5,6,7,8*/
                                  @media  (min-width: 319px) and (max-width: 400px){

                                       #meter {
   				                 width:300px;
                                                 margin-left:30px;
                                                 height:120px;
                                                 margin-top:40px;
                                                 
                                                 
  				              }
					 #meter_needle {
                    					height: 5%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 69%;
                    					top: 20%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 5%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 69%;
                    					top: 34%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }




                                           }
                                             
                                  /*  small device like ipad*/  
                                @media (min-width: 768px) and (max-width: 991px){

                                       #meter {
   				                 width:580px;
                                                 margin-top:50px;
                                                 margin-left:40px;
                                                 height:300px;
                                                 
  				              }



						 #meter_needle {
                    					height: 11%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 48%;
                    					top: 32%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 11%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 48%;
                    					top: 62%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }
                                           }




                                       /*  medium device like ipad pro*/  
                                @media (min-width: 992px) and (max-width: 1199px){

                                       #meter {
   				                 width:600px;
                                                 margin-top:50px;
                                                 margin-left:40px;
                                                 height:300px;
                                                 
  				              }


                                            #meter_needle {
                    					height: 12%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 48%;
                    					top: 30%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 12%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 48%;
                    					top: 63%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }
                                           }
 
                                       /* code for nexus7 */
                                       @media (min-width: 559px) and (max-width: 767px){

                                       #meter {
   				                 width:450px;
                                                 margin-top:40px;
                                                 margin-left:20px;
                                                 height:200px;
                                                 
  				              }


						
                                            #meter_needle {
                    					height: 8%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 68%;
                    					top: 25%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 8%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 67%;
                    					top: 48%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }
                                           }
                                        
                                       

					/*code for nexs10*/
                                  @media (min-width: 799px) and (max-width: 850px){

                                       #meter {
   				                 width:520px;
                                                 margin-top:50px;
                                                 margin-left:70px;
                                                 height:250px;
                                                 
  				              }


                                      #meter_needle {
                    					height: 9%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 35%;
                    					top: 29%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 9%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 33%;
                    					top: 56%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }
                                           }


                                        /*code for iphone5*/
                                  @media (min-width: 319px) and (max-width: 321px){

                                       #meter {
   				                 width:250px;
                                                 margin-top:10px;
                                                 margin-left:70px;
                                                 height:75px;
                                                 
  				              }


                                      #meter_needle {
                    					height: 9%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 35%;
                    					top: 18%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
                					}

                                   #meter_needle1 {
                    					height: 9%;
                    					left: 0;
                    					margin: auto;
                    					position: absolute; 
                    					right: 33%;
                    					top: 45%;
                    					transform-origin: bottom center;
                    					transform: rotate(90deg);
               					 }
                                           }
 
              
               


                 .circle {fill: none;}
                .circle1 {fill: none;}
                .outline, #mask {
                    stroke: #F1F1F100; 
                    stroke-width: 65;
                }
                .range { stroke-width: 60; }
                #slider, #lbl {
                    position: absolute;
                }
                #slider {
                    cursor: pointer;
                    left: 0;
                    margin: auto;
                    right: 0;
                    top: 58%;
                    width: 94%;
                }
                #lbl {
                    background-color: #4B4C51; 
                    border-radius: 2px;
                    color: white;   
                    font-family: 'courier new';
                    font-size: 15pt;
                    font-weight: bold;
                    padding: 4px 4px 2px 4px;
                    right: -48px;
                    top: 57%;
                }
     /*
                #meter_needle {
                    height: 15%;
                    left: 0;
                    margin: auto;
                    position: absolute; 
                    right: 57%;
                    top: 29%;
                    transform-origin: bottom center;
                    transform: rotate(90deg);
                }
                #meter_needle1 {
                    height: 15%;
                    left: 0;
                    margin: auto;
                    position: absolute; 
                    right: 57%;
                    top: 76%;
                    transform-origin: bottom center;
                    transform: rotate(90deg);
                }*/
                
                
                input[type=range] {
                    -webkit-appearance: none;
                }
                
                input[type=range]:focus {
                    outline: none;
                }
                
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 12px;
                    cursor: pointer;
                    background: #F6F6F6;
                    border-radius: 25px;
                    box-shadow: 0 0 0 1px #f6f6f6;
                }
                
                input[type=range]::-webkit-slider-thumb {
                    box-shadow: 0 0 2px #B2B2B2;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    background: #fff;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -9px;
                }
                
                input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #F6F6F6;
        
                }
                
                input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 12.8px;
                    cursor: pointer;
                    background: #F6F6F6;
                    border-radius: 25px;
                }
                
                input[type=range]::-moz-range-thumb {
                    box-shadow: 0 0 2px #B2B2B2;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    background: #fff;
                    cursor: pointer;
                }
                
                input[type=range]::-ms-track {
                    width: 100%;
                    height: 12.8px;
                    cursor: pointer;
                }
                
                input[type=range]::-ms-fill-lower {
                    background: #F6F6F6;
                    border-radius: 50px;
                }
                
                input[type=range]::-ms-fill-upper {
                    background: #F6F6F6;
                    border-radius: 50px;
                }
                
                input[type=range]::-ms-thumb {
                    height: 30px;
                    width: 30px;
                    top: 5px;
                    position: relative;
                    background: #fff;
                    cursor: pointer;
                    box-shadow: 0 0 2px #B2B2B2;
                }
                
                input[type=range]:focus::-ms-fill-lower {
                    background: #F6F6F6;
                }
                
                input[type=range]:focus::-ms-fill-upper {
                    background: #F6F6F6;
                }
