<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


















    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Form Layouts Design - Bracket Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="../lib/highlightjs/github.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">
    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css"> -->
	
		<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/highlightjs/github.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/select2/css/select2.min.css')}}" rel="stylesheet">

	
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cust1.css')}}">

  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Customer Logo<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="table-datatable3.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
            <span class="menu-item-label">All Projects</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="live1.html" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
            <span class="menu-item-label">Compressor Test</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="live1.html" class="nav-link">Test1</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link">Test2</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link active">Test3</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link ">Create New <i class=" fa fa-plus "></i></a></li>
          
        </ul>
  
  
  
  
        <a href="dashboard.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
            <span class="menu-item-label">Analytics</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a href="testbed1.html" class="nav-link ">Digital Twin</a></li>
          <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
          <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
          <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
          
        </ul>
        <a href="profile.html" class="br-menu-link active">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Profile Setting</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
  
  
        <a href="contact.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
            <span class="menu-item-label">Contact Us</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
        
        
        
        
       
  
      </div>
    </div><!-- br-sideleft -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">

 <!--<li><a href="login.html" button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
   </li>-->













      
          <li><a href="login.html" class="btn btn-info btn-lg"><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    <!-- ########## START: RIGHT PANEL ########## -->
    
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
     
        <div class="br-pageheader  pd-l-20">
   
          </div><!-- br-pageheader -->

      <div class="br-pagebody">
        <div class="br-section-wrapper">
            <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">PROFILE</h6>


<div class="row">
  <div class="col-md-6">
    
    <div class="card mg-t-20 pd-40 ht-400">

  <center><img src="static/img/profile.jpg" alt="Smiley face" height="70%" width="70%"></center>


</div>
  </div>

  <div class="col-md-6">
    <div class="card mg-t-20 pd-20 ht-400">

<br/><br/>
                
                <div class="row">
                  <label class="col-sm-4 form-control-label">&nbsp;&nbsp;Firstname:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <input type="text" class="form-control" placeholder="Enter firstname">
                  </div>
                </div><!-- row -->
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">&nbsp;&nbsp;Lastname:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <input type="text" class="form-control" placeholder="Enter lastname">
                  </div>
                </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">&nbsp;&nbsp;Email:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <input type="text" class="form-control" placeholder="Enter email address">
                  </div>
                </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">&nbsp;&nbsp;Address:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
                  </div>
                </div><!-- row -->
                <div class="row mg-t-30">
                  <div class="col-sm-8 mg-l-auto">
                    <div class="form-layout-footer">
                      <button class="btn btn-info">Save Changes</button>
                      
</div><br/>
  </div>
</div>
</div>

          </div></div>
          </div><!--end of section wrapper-->
          </div>


         <!-- <footer class="br-footer">
              <div class="footer-left">
                <div class="mg-b-2">Copyright &copy; 2019. Cyronics. All Rights Reserved.</div>
                <div>Attentively and carefully made by ThemePixels.</div>
              </div>
             
            </footer>-->
          </div>
          
    <!--<script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>
    <script src="../lib/highlightjs/highlight.pack.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../js/bracket.js"></script>-->
	
	<script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/select2/js/select2.min.js')}}"></script>

    
	<script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    
	
	
    <script>
      $(function(){
        'use strict'

        $('.form-layout .form-control').on('focusin', function(){
          $(this).closest('.form-group').addClass('form-group-active');
        });

        $('.form-layout .form-control').on('focusout', function(){
          $(this).closest('.form-group').removeClass('form-group-active');
        });

        // Select2
        $('#select2-a, #select2-b').select2({
          minimumResultsForSearch: Infinity
        });

        $('#select2-a').on('select2:opening', function (e) {
          $(this).closest('.form-group').addClass('form-group-active');
        });

        $('#select2-a').on('select2:closing', function (e) {
          $(this).closest('.form-group').removeClass('form-group-active');
        });

      });



      str1="Hi, user!";
       document.getElementById("user").innerHTML=str1;
    </script>
  </body>
</html>
